.container{
    text-align: center;
}

.content{
    display: flex;
    justify-content: center;
}
.rps{
    margin: 20px;
}
button{
    border-radius: 40%;
    cursor: pointer;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 40%;
    
}
#result{
    position: relative;
    top: 60px;
}
#finalresult{
    display:inline ;
    border-radius: 10%;
    padding: 5px 10px;
}
